body {
    background: black;
    color: red;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    overflow-x: hidden;
    text-align: center;
}

/* PANTALLA INICIO */
#inicio {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#inicio button {
    padding: 14px 28px;
    font-size: 18px;
    background: white;
    color: black;
    border: none;
}

/* HUD */
#hud {
    margin-bottom: 10px;
    font-size: 18px;
    min-height: 24px;
}

/* JUEGO */
#contenedor {
    display: flex;
    justify-content: center;
}

#laberinto {
    width: min(90vw, 420px);
    height: min(90vw, 420px);
    background: #111;
    border: 4px solid red;
    position: relative;
}

#jugador {
    width: 5%;
    height: 5%;
    background: white;
    position: absolute;
    top: 2%;
    left: 2%;
}

#meta {
    width: 8%;
    height: 8%;
    background: red;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/* PAREDES */
.pared {
    position: absolute;
    background: #444;
}

.pared-roja {
    background: red;
}

/* CONTROLES */
#controles {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#controles button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background: #900;
    color: white;

    /* NO COPIABLE */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    touch-action: none;
}

#controles .fila {
    display: flex;
    gap: 20px;
}

/* VIDEO FINAL */
#jumpscare {
    position: fixed;
    inset: 0;
    background: black;
    display: none;
    z-index: 30;
}

#jumpscare video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* AJUSTES CELULAR */
@media (max-width: 600px) {
    body {
        padding-top: 80px;
    }

    #inicio h1 {
        font-size: 28px;
    }

    #inicio p {
        font-size: 16px;
        line-height: 1.4;
        padding: 0 12px;
    }

    #hud {
        font-size: 16px;
        padding: 0 10px;
    }
}