body {
    background: black;
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

#mensaje {
    font-size: 22px;
    margin: 10px;
    height: 30px;
}

#laberinto {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    background: #111;
    border: 4px solid red;
}

#jugador {
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

#meta {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pared {
    position: absolute;
    background: #333;
}

/* JUMPSCARE */
#jumpscare {
    position: fixed;
    inset: 0;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#jumpscare img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTROLES TÁCTILES (MÓVIL) */
#controles {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 20px 0;
    display: none;
}

#controles .fila {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 5px 0;
}

#controles button {
    width: 80px;
    height: 80px;
    font-size: 36px;
    background: #900;
    color: white;
    border: none;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #controles {
        display: block;
    }
}
