body {
    background: black;
    color: red;
    font-family: Arial;
    text-align: center;
}

#mensaje {
    margin: 10px;
    font-size: 24px;
}

#laberinto {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    background: #111;
    border: 5px solid red;
}

#jugador {
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

#meta {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
}

#jumpscare img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}