* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.oculto {
    display: none;
}

/* BIENVENIDA */
#bienvenida {
    padding: 40px 20px;
}

#bienvenida button {
    background: white;
    color: black;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 10px;
}

/* JUEGO */
#barra {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}

#laberinto {
    width: min(90vw, 420px);
    height: min(90vw, 420px);
    margin: auto;
    background: #111;
    border: 4px solid red;
    position: relative;
    overflow: hidden;
}

.pared {
    position: absolute;
    background: gray;
}

.pared.roja {
    background: red;
}

#jugador {
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

#meta {
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* CONTROLES */
#controles {
    margin-top: 20px;
}

.btn {
    font-size: 26px;
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
    border: none;
}

/* FINAL */
#final {
    width: 100vw;
    height: 100vh;
}

#final video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: black;
}